body {
	margin: 0;
	font-family: sans-serif;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding: 10px;
}

.game-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	gap: 20px;
}

canvas {
	background-color: #f5f5dc;
	/* цвет доски */
	display: block;
	margin: 0 auto;
	max-width: 90vw;
	/* 90% ширины экрана */
	max-height: 90vh;
	/* 90% высоты экрана */
	touch-action: none;
	/* отключаем стандартное поведение касания */
}

.left-panel {
	min-width: 150px;
}

.probability-bar {
	width: 120px;
	height: 20px;
	display: flex;
	border: 1px solid #000;
	margin-top: 5px;
}

.bar {
	height: 100%;
}

.black-bar {
	background-color: black;
	width: 50%;
}

.white-bar {
	background-color: white;
	width: 50%;
}

.percentages {
	display: flex;
	justify-content: space-between;
	font-size: 12px;
}