* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: 100vh;
	background: #f4f4f4;
}

.game-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.side-panel {
	margin-right: 20px;
	min-width: 150px;
}

.board-container {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

canvas {
	border: 2px solid #000;
	background: #f5f5dc;
	touch-action: manipulation;
}

.difficulty-panel {
	margin-left: 20px;
	min-width: 120px;
}

.difficulty-grid {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 10px;
}

.difficulty {
	border: 2px solid #000;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 120px;
	cursor: pointer;
	font-weight: bold;
	background: #eee;
	text-align: center;
}

.difficulty:hover {
	background: #ddd;
}

/* полоска вероятности */
.win-probability {
	margin-top: 10px;
	width: 150px;
}

.bar-container {
	position: relative;
	height: 20px;
	background: #ddd;
	width: 100%;
}

.bar {
	height: 100%;
	position: absolute;
	top: 0;
}

.bar.black {
	background: #000;
	left: 0;
	z-index: 1;
}

.bar.white {
	background: #fff;
	right: 0;
	z-index: 2;
}

.percentages {
	display: flex;
	justify-content: space-between;
	font-size: 12px;
	margin-top: 2px;
}

/* Адаптив для мобильных */
@media (max-width:800px) {
	.game-container {
		flex-direction: column;
		align-items: center;
	}

	.difficulty-panel {
		margin-left: 0;
		margin-top: 10px;
	}

	canvas {
		width: 90vw;
		height: 90vw;
	}
}