body {
	margin: 0;
	font-family: sans-serif;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding: 10px;
}

.game-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	gap: 20px;
}

canvas {
	background-color: #f5f5dc;
	/* цвет доски */
	display: block;
	margin: 0 auto;
	max-width: 110vw;
	/* увеличиваем на 20% */
	max-height: 110vh;
	/* увеличиваем на 20% */
	touch-action: none;
	/* отключаем стандартное поведение касания */
}

.left-panel {
	min-width: 150px;
}

.probability-bar {
	width: 120px;
	height: 20px;
	display: flex;
	border: 1px solid #000;
	margin-top: 5px;
}

.bar {
	height: 100%;
}

.black-bar {
	background-color: black;
	width: 50%;
}

.white-bar {
	background-color: white;
	width: 50%;
}

.percentages {
	display: flex;
	justify-content: space-between;
	font-size: 12px;
}

button {
	background-color: #4CAF50;
	/* Цвет кнопок */
	color: white;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	transition: background-color 0.3s ease;
	/* Плавный переход */
	margin: 5px;
}

button.selected {
	background-color: #388E3C;
	/* Темнее на 40% */
}

button:hover {
	background-color: #45a049;
	/* Цвет при наведении */
}

#bot-mode.selected {
	filter: brightness(0.6);
	/* Затемняем иконку игры с ботом */
}

#human-mode.selected {
	filter: brightness(1);
	/* Восстанавливаем нормальный цвет иконки */
}